<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="mt-3">
    <h2>
      <strong>{{ currentUser.username }}</strong> Profile
    </h2>
  </header>
  
  <div class="card">
    <div class="card-body">
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <ul>
        <li *ngFor="let role of currentUser.roles">
          {{ role }}
        </li>
      </ul>
    </div>
  </div>
  

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
